#page-home {
    width: 890px;
    height: 100vh;
}

.logo h1 {
    font: 900 5rem 'Mulish', cursive;
    line-height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 80%;
}

main {
    margin: 5rem;
}

.bottom-pesquisa {
    background-color: var(--color-background-contrast);
    padding: 4rem;
}

.bottom-pesquisa .separador {
    margin-top: 5rem;
}