#page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font: 400 5rem 'Londrina Solid', cursive;
    line-height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 80%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 20rem;
    height: 8.4rem;
    border-radius: 0.8rem;
    font: 700 2.0rem Roboto;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a.novo-cadastro {
    color: var(--color-primary-button-text);
    background: var(--color-primary-button-background);
}

.buttons-container a.novo-cadastro:hover {
    color: var(--color-primary-button-text-hover);
    background: var(--color-primary-button-background-hover);
}

.buttons-container a.login {
    color: var(--color-second-button-text);
    background: var(--color-second-button-background);
}

.buttons-container a.login:hover {
    color: var(--color-second-button-text-hover);
    background: var(--color-second-button-background-hover);
}

.politicas-privacidade { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.politicas-privacidade a {
    width: 40rem;
    height: 8.4rem;
    border-radius: 0.8rem;

    font: 700 2.0rem Roboto;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}

.politicas-privacidade a.politicas-privacidade {
    color: var(--color-primary-button-text);
    background: var(--color-primary-button-background);
}

.politicas-privacidade a.politicas-privacidade:hover {
    color: var(--color-primary-button-text-hover);
    background: var(--color-primary-button-background-hover);
}