#detalhe-estabelecimento {
    width: 100vw;
    height: 100vh;
}

.main {
    margin: 3rem;
}

.main .titulo {
    display: flex;
    justify-items: center;
    justify-content: center;

    padding: 1rem;
}

.main .titulo p {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
}

.main .header .imagem {
    display: flex;
    justify-items: center;
    justify-content: center;

    margin: 1.5rem;
}

.main .header img {
    width: 80%;
}

.main .header .especialidade,
.main .header .funcionamento {
    display: flex;

    justify-content: space-around;
    align-items: center;

    margin-bottom: 2rem;
}

.main .header .especialidade p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 700;
}

.main .header .funcionamento .horario,
.main .header .funcionamento .dias {
    border: 1px solid var(--color-text-base);
    border-radius: 0.8rem;
    padding: 1.5rem;

    text-align: center;
}

.main .header .funcionamento .horario .label,
.main .header .funcionamento .dias .label {
    color: var(--small-text-default);
    font: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.main .header .funcionamento .horario .descricao,
.main .header .funcionamento .dias .descricao {
    color: var(--color-text-base);
    font: 1.4rem;
    line-height: 2.4rem;

    font-weight: 600;
}

.main .header .descricao {
    text-align: center;
    color: var(--small-text-default);
    font: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.main .header .site {
    text-align: center;
    color: var(--small-text-default);
    font: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;

    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.main .header .site p:first-child {
    margin-right: 1.5rem;
}

.main .header .site p a {
    color: var(--color-text-base);
    text-decoration: none;
}

.main .header .site p a:hover {
    color: var(-small-text-default);
}

.main .avaliacao-atual .deficiencia {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
}

.main .avaliacao-atual .deficiencia p {
    transform: rotate(-90.0deg);
}

.main .avaliacao-atual .deficiencia img {
    margin-right: 3rem; 
}

.buttons-detalhe {
    display: flex;
    justify-content: center;

    
}
