.deficiencia {
    display: flex;
    justify-content: space-evenly;
}

.deficiencia .nome-deficiencia {
    margin: 1rem;
    margin-top: 2rem;

    display: flex;
    text-align: center;
}

.deficiencia .descricao-deficiencia {
    width: 13rem;
}

.deficiencia .descricao-deficiencia p {
    font: 700;
    font-size: 1.8rem;
    color: var(--big-text-default);
} 

.deficiencia .separador {
    border-bottom: 1px solid #000000;
    width: 25rem;
    margin-bottom: 0.8rem;

    display: flex;
    justify-content: center;
}
